<title>Vehicle part!</title>
  </head>
  <body>
    <div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Form User</h2>
    </div>
    <div class="card">
  <div class="card-body">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nombre</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
  </div>
  
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Correo</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Edad</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
  </div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Dealer</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Dealer">
</div>

<button type="button" class="btn btn-primary">Enviar</button>
<button type="button" class="btn btn-danger">Cancelar</button>
  </div>
</div>
  </div>
</div>