<title>User part!</title>
  </head>
  <body>
    <div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Form User</h2>
    </div>
    <div class="card">
  <div class="card-body">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Marca del vehiculo</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Marca del vehiculo">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Modelo del vehiculo</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Modelo del vehiculo">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Color</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Color">
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Año</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Año">
  </div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Cliente</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cliente">
</div>

<button type="button" class="btn btn-primary">Enviar</button>
<button type="button" class="btn btn-danger">Cancelar</button>
  </div>
</div>
  </div>
</div>